<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<configuration>
 
    <property name="DEV_HOME" value="c:/logs" />
 
    <appender name="toConsole" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
                </Pattern>
        </layout>
    </appender>
 
    <appender name="toFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>
        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/debug.%d{yyyy-MM-dd}.%i.log </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>
 
    <appender name="FILE-ERROR"	class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} - %msg%n
                </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/error.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>
 
    <!-- Send logs to both console and file audit -->
    <logger name="org.mapreduce.martin" level="info" additivity="false">
            <appender-ref ref="toFile" />
            <appender-ref ref="toConsole" />
    </logger>

    <root level="error">
            <appender-ref ref="FILE-ERROR" />
    </root>
 
</configuration>